body {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125em;
}
.portable {
   position: absolute;
   top:-80px;
   z-index: 1;
}

.next {
 font-weight: 100;
 font-size: 1.125em;
 
}
.description {
    padding: top 10px;;
}
.text {
 color:hsl(233, 8%, 62%);
 padding: 0 ;
 width:103%;
 font-weight: bold;
 font-size: 1.125em;
 
}
.button {
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color:;
    

}