

body {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125em;
}
main {
    background-color: #f4f5f7;
}
.portable {
   position: absolute;
   top:-80px;
   z-index: 1;
}
.advantages {
    text-align: center;
}
.choose {
    margin-left: 20px;
    margin-right: 20px;
}
.picture {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
       
}
.name {
    color:#c6c5ca;
    font-size: small;
    font-weight: bold;
    margin-top: 20px;
}
.align {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fafafa;
    padding-bottom: 30px;
    margin-bottom: 30px;
    }
.next {
 font-weight: 100;
 font-size: 1.125em;
 margin-bottom: 0px;
 text-align: center;
 }
 .next1 {
     font-weight: bold;
 }
.description {
    padding: top 10px;;
}
.svg {
    margin-bottom: 80px;
}
.text {
 color:hsl(233, 8%, 62%);
 padding: 0 ;
 width:103%;
 font-size: 1.125em;
 font-size: initial;
 font-weight: 400;
 margin-bottom: 15px;
 text-align: center;
 
}
.text1 {
    color:hsl(233, 8%, 62%);
    padding: 0 ;
    width:103%;
    font-size: 1.125em;
    font-size: initial;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    
   }
.button {
    border-radius: 40px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right,#30ce6f, #2cb9cb);
    height: 10vh;
    width: 65vw;
    font-size: inherit;   
}
.request {
    margin-left: 76px;
}
.picture {
    margin-bottom: 20px;
   
}
.end {
    margin-top: 40px;
    margin-bottom: 40px;
}
.fontawesome {
    margin-bottom: 40px;

}
.contact {
    margin-bottom: 40px;
}
.request2 {
    margin-bottom: 40px;
    border-color: #2d314e;
}
.copyright {
    margin-bottom: 40px;
    color: #808080;
}
.attribution {
    font-size: small;
}
a {
    color:white
}

footer {
    background-color: #2d314e;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
 }
.svg2 {
    display:none;
}
.request1 {
    display:none;
}

/* changement du css à partir de 801 px */
 @media (min-width: 801px) {

 .button {
     width:10vw;
     height: 3vw;
     font-size: smaller;
     font-weight: 300;
      }
 .svg1 {
     display: none;
 }
 .svg2{
     display:flex;
 }
.description {
    background-color: #fafafa;
    display: flex; 
    height: 85vh;
    
}

.choose {
 display:flex;
 flex-wrap: wrap;
 
}
.picture {
display:flex;
 flex-wrap: wrap;
}
/* ordre des blocs sur 1ère section du main */
.order {
    order: -1;
    margin-top: 80px;
    margin-right: 300px;
    margin-left: 150px;
}
.top {
 display:flex;
 justify-content: space-around;
 
}
.navbar-menu {
    padding-left: 360px;
    padding-right: 210px;
    
}
.navbar-item {
    color: #a1a0a6;
}
footer {
    display:flex;
    flex-direction: row;
}
.next {
    text-align: left;
    width: 30vw;
}
.text1 {
    color:hsl(233, 8%, 62%);
    padding: 0 ;
    font-size: 1.125em;
    font-size: initial;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
    text-align: left;
    width: 65%;
}
.request {
    margin-left: 0px;
    }
.request1 {
    display: flex;
}    
 }