body {
    font-family: 'Public Sans', sans-serif;
    font-size: 1.125em;
}
.portable {
   position: absolute;
   top:-80px;
   z-index: 1;
}

.next {
 font-weight: 100;
 font-size: 1.125em;
 margin-bottom: 0px;
 
}
.description {
    padding: top 10px;;
}
.svg {
    margin-bottom: 80px;
}
.text {
 color:hsl(233, 8%, 62%);
 padding: 0 ;
 width:103%;
 font-size: 1.125em;
 font-size: initial;
 font-weight: 400;
 
 
}
.button {
    border-radius: 40px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right,#30ce6f, #2cb9cb);
    height: 10vh;
    width: 65vw;
    font-size: inherit;   
}
.request {
    margin-left: 76px;
}
.picture {
    margin-bottom: 20px;
}
footer {
    background-color: #2d314e;
    display: flex;
    flex-direction:column ;
    color: white;
}